Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/

*.sln
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.ipch
*.obj
*.pdb
*.exe
*.dll
*.lib
*.exp

*.xcodeproj
*.xcworkspace
*.code-workspace

.DS_Store
Thumbs.db

*.log

.idea/
*.suo
*.user
*.userprefs

**/DerivedDataCache/*
